In [1]:
import pandas as pd

In [2]:
#load data
events_data = "Event_Codes.txt"
lineups_data = "Game_Lineup.txt"
plays_data = "Play_by_Play.txt"

events = pd.read_table(events_data)
lineups = pd.read_table(lineups_data)
plays = pd.read_table(plays_data)

In [3]:
events.head()

,Event_Msg_Type,Action_Type,Event_Msg_Type_Description,Action_Type_Description
0,1,0,Made Shot,No Shot
1,1,1,Made Shot,Jump Shot
2,1,2,Made Shot,Running Jump Shot
3,1,3,Made Shot,Hook Shot
4,1,4,Made Shot,Tip Shot

In [4]:
lineups.head()

,Game_id,Period,Person_id,Team_id,status
0,006728e4c10e957011e1f24878e6054a,0,ae53f8ba6761b64a174051da817785bc,01be0ad4af7aeb1f6d2cc2b6b6d6d811,A
1,006728e4c10e957011e1f24878e6054a,0,44230324724c84f122ac62a5f0918314,45ba8fc87f55b1191c50c400dc7ed11c,A
2,006728e4c10e957011e1f24878e6054a,0,8d2127290c94bd41b82a2938734bc750,01be0ad4af7aeb1f6d2cc2b6b6d6d811,A
3,006728e4c10e957011e1f24878e6054a,0,48ec4e6c52f418d5ca4ef510ba473ea0,45ba8fc87f55b1191c50c400dc7ed11c,A
4,006728e4c10e957011e1f24878e6054a,0,e816ff284dc3f965b8f3d605a3b91bae,01be0ad4af7aeb1f6d2cc2b6b6d6d811,A

In [5]:
plays.head()

,Game_id,Event_Num,Event_Msg_Type,Period,WC_Time,PC_Time,Action_Type,Option1,Option2,Option3,Team_id,Person1,Person2,Person3,Team_id_type,Person1_type,Person2_type,Person3_type
0,006728e4c10e957011e1f24878e6054a,2,12,1,546410,7200,0,0,0,0,1473d70e5646a26de3c52aa1abd85b1f,0370a0d090da0d0edc6319f120187e0e,0370a0d090da0d0edc6319f120187e0e,0370a0d090da0d0edc6319f120187e0e,0,0,0,0
1,006728e4c10e957011e1f24878e6054a,4,10,1,546420,7200,0,0,0,0,01be0ad4af7aeb1f6d2cc2b6b6d6d811,8d2127290c94bd41b82a2938734bc750,99104de2626f67c1fa2ce70504970c3f,766802a8fda500d7945950de7398c9c6,2,4,5,4
2,006728e4c10e957011e1f24878e6054a,7,1,1,546590,7020,79,2,0,0,01be0ad4af7aeb1f6d2cc2b6b6d6d811,42e0d7167f04a4ff958c6442da0e6851,0370a0d090da0d0edc6319f120187e0e,0370a0d090da0d0edc6319f120187e0e,2,4,0,0
3,006728e4c10e957011e1f24878e6054a,8,6,1,546620,7020,2,0,0,1,01be0ad4af7aeb1f6d2cc2b6b6d6d811,616281dee946056b071699476fdee9ec,42e0d7167f04a4ff958c6442da0e6851,0b1c631effab25d4af2d16fc123c3d31,2,5,4,1
4,006728e4c10e957011e1f24878e6054a,10,3,1,546810,7020,10,1,0,0,01be0ad4af7aeb1f6d2cc2b6b6d6d811,42e0d7167f04a4ff958c6442da0e6851,0370a0d090da0d0edc6319f120187e0e,0370a0d090da0d0edc6319f120187e0e,2,4,0,0

In [6]:
#lower case column names

events.columns = [x.lower() for x in events.columns]
lineups.columns = [x.lower() for x in lineups.columns]
plays.columns = [x.lower() for x in plays.columns]

In [7]:
# sort plays in df as instructions suggest
plays = plays.sort_values(by=['period', 'pc_time', 'wc_time', 'event_num'], ascending = [True, False, True, True])
plays.head()

,game_id,event_num,event_msg_type,period,wc_time,pc_time,action_type,option1,option2,option3,team_id,person1,person2,person3,team_id_type,person1_type,person2_type,person3_type
20607,a466c76e072fd634f6d4a8938fb63caa,2,12,1,330350,7200,0,0,0,0,1473d70e5646a26de3c52aa1abd85b1f,0370a0d090da0d0edc6319f120187e0e,0370a0d090da0d0edc6319f120187e0e,0370a0d090da0d0edc6319f120187e0e,0,0,0,0
20608,a466c76e072fd634f6d4a8938fb63caa,4,10,1,330350,7200,0,0,0,0,0a6fc39f34702cff144525dfd265f8fa,b265ffd84dbeef427136d140811e7d5f,90115ca1e9f545b291b18a7db8d2a700,95c8abc40fb4ecf4fa5627975450dc95,2,4,5,4
30761,d36de5306a05d0cdbd51a7294ac91359,2,12,1,330550,7200,0,0,0,0,1473d70e5646a26de3c52aa1abd85b1f,0370a0d090da0d0edc6319f120187e0e,0370a0d090da0d0edc6319f120187e0e,0370a0d090da0d0edc6319f120187e0e,0,0,0,0
31634,d522ea3836b8e1977ab10b3bfeb5dfd1,2,12,1,330550,7200,0,0,0,0,1473d70e5646a26de3c52aa1abd85b1f,0370a0d090da0d0edc6319f120187e0e,0370a0d090da0d0edc6319f120187e0e,0370a0d090da0d0edc6319f120187e0e,0,0,0,0
31635,d522ea3836b8e1977ab10b3bfeb5dfd1,4,10,1,330550,7200,0,0,0,0,8362dfecb7412f12a12713852d2ae566,ef8b068ab7ac9d387b256404acd24cd5,64e4b07f8d90902bcab1aa9e6b5d2ecf,95920e4bf5b6c15ba8dffbf959b38ba5,2,4,5,4

### Explore events data

In [8]:
events.shape

(299, 4)

In [9]:
events.isnull().sum()

event_msg_type                0
action_type                   0
event_msg_type_description    0
action_type_description       5
dtype: int64

In [10]:
events.columns

Index(['event_msg_type', 'action_type', 'event_msg_type_description',
       'action_type_description'],
      dtype='object')

In [11]:
events.event_msg_type.unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 18,
       20])

In [12]:
events.action_type.unique()

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  40,  41,  42,
        43,  44,  45,  46,  47,  48,  49,  50,  51,  52,  53,  54,  55,
        56,  57,  58,  59,  60,  61,  62,  63,  64,  65,  66,  67,  71,
        72,  73,  74,  75,  76,  77,  78,  79,  80,  81,  82,  83,  84,
        85,  86,  87,  88,  89,  90,  91,  92,  93,  94,  95,  96,  97,
        98,  99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110,
        10,  11,  12,  13,  14,  15,  16,  17,  18,  19,  20,  21,  22,
        25,  26,  27,  28,  29,  23,  24,  31,  32,  33,  34,  35,  36,
        37,  38,  39,  30])

In [13]:
events.event_msg_type_description.unique()

array(['Made Shot                               ',
       'Missed Shot                             ',
       'No Shot                                 ',
       'Free Throw                              ',
       'Rebound                                 ',
       'Turnover                                ',
       'Foul                                    ',
       'Violation                               ',
       'Substitution                            ',
       'Timeout                                 ',
       'Jump Ball                               ',
       'Ejection                                ',
       'Start Period                            ',
       'End Period                              ',
       'Validation                              ',
       'Memo                                    ',
       'Flash Stats                             ',
       'Supplemental                            ',
       'Instant Replay                          ',
       'Final Box Printed                       ',
       'Stoppage                                '], dtype=object)

In [14]:
# strip out white space

events['event_msg_type_description'] = events.event_msg_type_description.str.strip()
events.event_msg_type_description.unique()

array(['Made Shot', 'Missed Shot', 'No Shot', 'Free Throw', 'Rebound',
       'Turnover', 'Foul', 'Violation', 'Substitution', 'Timeout',
       'Jump Ball', 'Ejection', 'Start Period', 'End Period', 'Validation',
       'Memo', 'Flash Stats', 'Supplemental', 'Instant Replay',
       'Final Box Printed', 'Stoppage'], dtype=object)

In [15]:
events.action_type_description.unique()

array(['No Shot', 'Jump Shot', 'Running Jump Shot', 'Hook Shot',
       'Tip Shot', 'Layup Shot', 'Driving Layup Shot', 'Dunk Shot',
       'Slam Dunk Shot', 'Driving Dunk Shot', 'Running Layup Shot',
       'Alley Oop Layup shot', 'Reverse Layup Shot',
       'Turnaround Jump Shot', 'Running Dunk Shot', 'Reverse Dunk Shot',
       'Alley Oop Dunk Shot', 'Running Tip Shot', 'Running Hook Shot',
       'Driving Hook Shot', 'Turnaround Hook Shot', 'Finger Roll Shot',
       'Running Finger Roll Shot', 'Driving Finger Roll Shot',
       'Turnaround Finger Roll Shot', 'Fadeaway Jump Shot',
       'Follow Up Dunk Shot', 'Jump Hook Shot', 'Jump Bank Shot',
       'Hook Bank Shot', 'Finger Roll Layup Shot', 'Putback Layup Shot',
       'Driving Reverse Layup Shot', 'Running Reverse Layup Shot',
       'Driving Finger Roll Layup Shot', 'Running Finger Roll Layup Shot',
       'Driving Jump shot', 'Floating Jump shot', 'Pullup Jump shot',
       'Step Back Jump shot', 'Pullup Bank shot', 'Driving Bank shot',
       'Fadeaway Bank shot', 'Running Bank shot', 'Turnaround Bank shot',
       'Turnaround Fadeaway shot', 'Putback Dunk Shot',
       'Driving Slam Dunk Shot', 'Reverse Slam Dunk Shot',
       'Running Slam Dunk Shot', 'Putback Reverse Dunk Shot',
       'Putback Slam Dunk Shot', 'Driving Bank Hook Shot',
       'Jump Bank Hook Shot', 'Running Bank Hook Shot',
       'Turnaround Bank Hook Shot', 'Tip Layup Shot', 'Cutting Layup Shot',
       'Cutting Finger Roll Layup Shot', 'Running Alley Oop Layup Shot',
       'Driving Floating Jump Shot', 'Driving Floating Bank Jump Shot',
       'Running Pull-Up Jump Shot', 'Step Back Bank Jump Shot',
       'Turnaround Fadeaway Bank Jump Shot', 'Running Alley Oop Dunk Shot',
       'Tip Dunk Shot', 'Cutting Dunk Shot', 'Driving Reverse Dunk Shot',
       'Running Reverse Dunk Shot', nan, 'Free Throw 1 of 1',
       'Free Throw 1 of 2', 'Free Throw 2 of 2', 'Free Throw 1 of 3',
       'Free Throw 2 of 3', 'Free Throw 3 of 3', 'Free Throw Technical',
       'Free Throw Clear Path', 'Free Throw Flagrant 1 of 2',
       'Free Throw Flagrant 2 of 2', 'Free Throw Flagrant 1 of 1',
       'Free Throw Technical 1 of 2', 'Free Throw Technical 2 of 2',
       'Free Throw Clear Path 1 of 2', 'Free Throw Clear Path 2 of 2',
       'Free Throw Flagrant 1 of 3', 'Free Throw Flagrant 2 of 3',
       'Free Throw Flagrant 3 of 3', 'Unknown', 'Normal Rebound',
       'Dead Ball Rebound', 'No Turnover', 'Bad Pass', 'Lost Ball',
       'Out Of Bounds', 'Traveling', 'Foul', 'Double Dribble',
       'Discontinue Dribble', '3 Second Violation', '5 Second Violation',
       '8 Second Violation', 'Shot Clock Turnover', 'Inbound Turnover',
       'Backcourt Turnover', 'Illegal Pick', 'Offensive Goaltending',
       'Isolation Violation', 'Lane Violation', 'Jump Ball Violation',
       'Kicked Ball Violation', 'Illegal Assist Turnover',
       'Palming Turnover', 'Post Up Turnover', 'Double Personal Turnover',
       '10 Second Violaton', 'Stolen Pass Turnover',
       'Opposite Basket Turnover', 'Punched Ball Turnover',
       'Swinging Elbows Turnover', 'Basket from Below Turnover',
       'Illegal Screen Turnover', 'Offensive Foul Turnover',
       '5 Second Inbound Turnover', 'Step Out of Bounds Turnover',
       'Out of Bounds Lost Ball Turnover', 'Poss Lost Ball Turnover',
       'Excess Timeout Turnover',
       'Player Out of Bounds Violation Turnover',
       'Too Many Players Turnover', 'Out of Bounds - Bad Pass Turnover',
       'No Foul', 'Personal', 'Shooting', 'Loose Ball', 'Offensive',
       'Inbound', 'Away From Play', 'Elbow', 'Punching', 'Clear Path',
       'Double Personal', 'Technical', 'Non-Unsportsmanlike Technical',
       'Hanging Technical', 'Flagrant Type 1', 'Flagrant Type 2',
       'Double Technical', 'Defense 3 Second', 'Delay Technical',
       'Taunting Technical', 'Player Control', 'Indirect Technical',
       'Excess Timeout Technical', 'Offensive Charge', 'Personal Block',
       'Personal Take', 'Shooting Block', 'Too Many Players Technical',
       'No Violation', 'Delay Of Game', 'Defensive Goaltending', 'Lane',
       'Jump Ball', 'Kicked Ball', 'Double Lane', 'Illegal Defense', ' ',
       'No Timeout', 'Regular', 'Short', 'Official TV', 'Official',
       'Advance', 'Reset', 'No Ejection', 'Second Technical',
       'Second Flagrant Type 1', 'First Flagrant Type 2', 'Other',
       'Support Ruling', 'Overturn Ruling', 'Altercation Ruling',
       'No Stoppage', 'Blood Rule', 'Injury', 'Out-of-Bounds',
       'Court Cleanup', 'Equipment Malfunction',
       'Other                                   '], dtype=object)

### Explore lineup data

In [16]:
lineups.shape

(5780, 5)

In [17]:
lineups.isnull().sum()

game_id      0
period       0
person_id    0
team_id      0
status       0
dtype: int64

In [18]:
lineups.columns

Index(['game_id', 'period', 'person_id', 'team_id', 'status'], dtype='object')

In [19]:
lineups.period.unique()

array([0, 1, 2, 3, 4, 5])

Not sure what period 0 means. I'd think a 1 means start of the 1st quarter and so on.

### Explore plays data

In [20]:
plays.shape

(37889, 18)

In [21]:
plays.isnull().sum()

game_id           0
event_num         0
event_msg_type    0
period            0
wc_time           0
pc_time           0
action_type       0
option1           0
option2           0
option3           0
team_id           0
person1           0
person2           0
person3           0
team_id_type      0
person1_type      0
person2_type      0
person3_type      0
dtype: int64

In [22]:
plays.option1.unique()

array([0, 2, 3, 1])

In [23]:
plays.option2.unique()

array([0, 1])

In [24]:
plays.option3.unique()

array([0, 1, 2, 3])

In [25]:
plays.team_id_type.unique()

array([0, 2, 3])

In [26]:
plays.person1_type.unique()

array([0, 4, 5, 2, 3, 7, 6])

In [27]:
plays.person2_type.unique()

array([0, 5, 4])

In [28]:
plays.person3_type.unique()

array([0, 4, 5, 1, 2, 3])

It's unclear what some of these columns mean and they seem irrelvant to calculating off/def rating for each player. Columns in question:
- wc_time
- option 3
- person3
- team_id
- team_id_type
- person1_type
- person2_type
- person3_type